*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none;
}
div img{
    display: block;
    width: 100%;
}
.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}
header{
    background-color: midnightblue;
    height: 100px;
    align-items: center;
    display: flex;
    color: white;
}
.list_item li a{
    color: white;
}
header .list_item{
    justify-content: space-between;
    display: flex;
    max-width: 260px;
    width: 100%;
}
header .menu{
    justify-content: space-between;
    align-items: center;
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.apresentacao .texto_apresentacao{
    min-height: 200px;
}
.texto_apresentacao h1{
    color: midnightblue;
    font-size: 48px;
    margin-bottom: 10px;
}
.a_midnightblue{
    background-color: midnightblue;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 175%;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    display: block;
    margin-top: 10px;
}
.quem_somos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.h2_midnightblue{
    color: midnightblue;
    font-size: 28px;
    display: flex;
    margin-bottom: 15px;
}
.quem_somos h2::before{
    content: "";
    background-color: midnightblue;
    height: 30px;
    width: 5px;
    position: relative;
    margin-right: 8px;
}
.quem_somos p{
    width: 90%;
}
.quem_somos img{
    width: 320px;
    margin-right: 15px;
}
.background_container{
    background-color: midnightblue;
    width: 100%;
}
#servicos{
    color: white;
    flex-direction: column;
    text-align: center;
}
#servicos h2{
    font-size: 32px;
    margin: 10px;
}
.list_servicos{
    display: flex;
    justify-content: space-between;
}
.servicos_item{
    text-align: center;
    margin: 20px;
}
.servicos_item a{
    background-color: white;
    text-decoration: none;
    color: midnightblue;
    border-radius: 15px;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
}
.servicos_item p{
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
}
.servicos_item img{
    margin: auto;
    width: 75%;
}
#planos{
    flex-direction: column;
    min-height: 50vh;
    padding-top: 40px;
}
#planos h2{
    margin-left: 250px;
}
.list_planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.planos_item{
    flex: 1;
    border: 5px solid midnightblue;
    margin: 20px;
    padding: 10px;
}
.planos_item .a_midnightblue{
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.planos_item li::before{
    content: "";
    background-color: midnightblue;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
.planos_item li{
    display: flex;
    align-items: center;
    padding: 5px 20px;
}
.planos_item h3{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
.planos_item h3::after{
    content: "";
    background-color: midnightblue;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
}